<div class="lg:flex flex-col lg:flex-row lg:space-x-4 lg:mt-0 mt-4 flex items-center justify-center text-xl bg-sky-500 py-5">
    <a routerLink="/"  [routerLinkActive]="['font-bold', 'text-yellow-400', 'border-b-2', 'border-white']"class="text-white  px-4 py-2 hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Voir tâches</a>

    <a routerLink="/game" [routerLinkActive]="['font-bold', 'text-yellow-400', 'border-b-2', 'border-white']" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Jeux</a>
    <a routerLink="/login" [routerLinkActive]="['font-bold', 'text-yellow-400', 'border-b-2', 'border-white']" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Connexion</a>
    <a routerLink="/register" [routerLinkActive]="['font-bold', 'text-yellow-400', 'border-b-2', 'border-white']" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Inscription</a>
</div>
