<div class="lg:flex flex-col lg:flex-row lg:space-x-4 lg:mt-0 mt-4 flex items-center justify-center text-xl bg-yellow-500 py-5">
    <a routerLink="/game/call-of-duty" [routerLinkActive]="['font-bold', 'text-yellow-400', 'border-b-2', 'border-white']" class="text-white  px-4 py-2 hover:text-[#437543] hover:border-b-2 hover:border-[#437543] uppercase">Call of Duty</a>

    <a routerLink="/game/need-for-speed" [routerLinkActive]="['font-bold', 'text-yellow-400', 'border-b-2', 'border-white']" class="text-white  px-4 py-2  hover:text-[#437543] hover:border-b-2 hover:border-[#437543] uppercase">Need for Speed</a>
    <a routerLink="/game/fifa" [routerLinkActive]="['font-bold', 'text-yellow-400', 'border-b-2', 'border-white']" class="text-white  px-4 py-2  hover:text-[#437543] hover:border-b-2 hover:border-[#437543] uppercase">FIFA</a>
    <a routerLink="/game/game-of-war" [routerLinkActive]="['font-bold', 'text-yellow-400', 'border-b-2', 'border-white']" class="text-white  px-4 py-2  hover:text-[#437543] hover:border-b-2 hover:border-[#437543] uppercase">game of wars</a>
</div>
<router-outlet></router-outlet>
